.picScrollerCanvas {
	position: absolute;
	top:0px;
	left:0px;
	overflow:none;
}

a img {
	opacity: 0.4;
}

.picScrollerHighlight {
	opacity: 1.0;
}

.picScrollerActive {
	opacity: 1.0;
}

body {
	overflow: hidden;
  background-color: black;
}

img {
	/*position: relative;*/
/*  float: left;*/
	display: inline-block;
	border-radius: 15px;
	-moz-border-radius: 15px;
  webkit-border-radius: 15px;
  z-index: 1;
}

.picSliderFade {
  position: absolute;
  z-index: 10;
}

.picSliderBlur, .picSliderFirst {
  float: left;
  position: relative;
  z-index: 1;
}
