#scroll_btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 20;
}

#canvas {
	position: absolute;
	top:0px;
	left:0px;
	overflow:none;
}

img {
  position: relative;
  float: left;
  display: inline-block;
}