body {
	overflow:hidden;
}
#thumbs, #black_sheet {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 10;
}

#canvas {
	position: absolute;
	top:0px;
	left:0px;
	overflow:none;
}

img {
	position: relative;
	float: left;
	display: inline-block;
}

a img {
	opacity: 0.4;
}